@import url('https://fonts.googleapis.com/css?family=Roboto');

$yellow: #eabf00;
$black-light: #1b1a20;

body {
    margin: 0;
    color: $black-light;
    font-family: 'Roboto', sans-serif;
}


main {
    padding: 20px 2%;
    max-width: 1200px;
    margin: 20px auto 0 auto;
}

.clearfix {
    clear: both;
}

/* MAC scrollbar para desktop*/
@media screen and (min-width: 640px){
    .float-cart__content::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 10px;
        background-color: rgba(0,0,0,0.2);
        padding: 10px;
    }
    .float-cart__content::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: #0c0b10;
    }
}

.float-cart__content {
    height: 100%;
    overflow-y: scroll;
}


.main-banner {
    width: 100%;
}

footer {
    color: #aaa;
    padding: 20px 0;
    text-align: center;
    
    a {
        color: #aaa;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.filters {
    width: 15%;
    float: left;

    .star-button-container {
      text-align: center;
      small {
        color: #aaa;
        margin-bottom: 8px;
        display: inline-block;
      }

    }

    .title {
        margin-top: 2px;
        margin-bottom: 20px;
    }

    &-available-size {
        display: inline-block;
        margin-bottom: 10px;
        /* Customize the label (the container) */
        label {
            display: inline-block;
            position: relative;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            width: 35px;
            height: 35px;
            font-size: 0.8em;
            margin-bottom: 8px;
            margin-right: 8px;
            border-radius: 50%;
            line-height: 35px;
            text-align: center;

            /* On mouse-over, add a grey background color */
            &:hover input ~ .checkmark {
                border: 1px solid $black-light;
            }

            /* When the checkbox is checked, add a blue background */
            & input:checked ~ .checkmark {
                background-color: $black-light;
                color: #ececec;
            }

            /* Show the checkmark when checked */
            & input:checked ~ .checkmark:after {
                display: block;
            }

            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
            }

            /* Create a custom checkbox */
            .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                width: 35px;
                height: 35px;
                font-size: 0.8em;
                border-radius: 50%;
                line-height: 35px;
                text-align: center;
                color: $black-light;
                background-color: #ececec;
                
                border: 1px solid transparent;

            }
        }
    }
}

.shelf-container {
    width: 85%;
    float: left;
    min-height: 600px;

    &-header {
        margin-bottom: 10px;

        .products-found {
            float: left;
            margin: 0;
            margin-top: 8px;
        }

        .sort {
            float: right;

            select {
                background-color: #fff;
                outline: none;
                border: 1px solid #ececec;
                border-radius: 2px;
                margin-left: 10px;
                width: auto;
                height: 35px;
                cursor: pointer;

                &:hover {
                    border: 1px solid #5b5a5e;
                }
            }
        }
    }

    .shelf-item {
        float: left;
        width: 25%;
        position: relative;
        text-align: center;
        box-sizing: border-box;
        padding: 10px;
        margin-bottom: 30px;
        border: 1px solid transparent;

        &:hover {
            border: 1px solid #eee;
            
            .shelf-item__buy-btn {
                background-color: $yellow;
            }
        }

        .shelf-stopper {
            position: absolute;
            color: #ececec;
            top: 10px;
            right: 10px;
            padding: 5px;
            font-size: 0.6em;
            background-color: $black-light;
            cursor: default;
        }

        &__thumb {
            img {
                width: 100%; 
            }
        }

        &__title {
            position: relative;
            padding: 0 20px;
            height: 45px;

            &::before {
                content: '';
                width: 20px;
                height: 2px;
                background-color: $yellow;
                position: absolute;
                bottom: 0;
                left: 50%;
                margin-left: -10px;
            }
        }

        &__price {
            height: 60px;

            .val {
                b {
                    font-size: 1.5em;
                    margin-left: 5px;
                }
            }

            .installment {
                color: #9c9b9b;
            }
        }

        &__buy-btn {
            background-color: $black-light;
            color: #fff;
            padding: 15px 0;
            margin-top: 10px;
            cursor: pointer;
            // border-bottom: 2px solid #151419;

            transition: background-color 0.2s;
        }
    }
}

.float-cart {
    position: fixed;
    top: 0;
    right: -450px;
    width: 450px;
    height: 100%;
    background-color: $black-light;
    box-sizing: border-box;
    
    transition: right 0.2s;

    &--open {
        right: 0;
    }

    &__close-btn {
        width: 50px;
        height: 50px;
        color: #ececec;
        background-color: $black-light;
        text-align: center;
        line-height: 50px;
        position: absolute;
        top: 0;
        left: -50px;
        cursor: pointer;

        &:hover {
            background-color: #212027;
        }
    }

    .bag {
        width: 40px;
        height: 40px;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
        background-image: url('./../static/bag-icon.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        &--float-cart-closed {
            position: absolute;
            background-color: #000;
            background-size: 50%;
            left: -60px;
            width: 60px;
            height: 60px;
            cursor: pointer;

            .bag__quantity {
                bottom: 5px;
                right: 10px;
            }
        }

        &__quantity {
            display: inline-block;
            width: 18px;
            height: 18px;
            color: #0c0b10;
            font-weight: bold;
            font-size: 0.7em;
            text-align: center;
            line-height: 18px;
            border-radius: 50%;
            background-color: $yellow;
            position: absolute;
            bottom: -5px;
            right: 0px;
        }
    }

    &__header {
        color: #ececec;
        box-sizing: border-box;
        text-align: center;
        padding: 45px 0;

        

        .header-title {
            font-weight: bold;
            font-size: 1.2em;
            vertical-align: middle;
        }
    }

    &__shelf-container {
        min-height: 280px;

        .shelf-empty {
            color: #ececec;
            text-align: center;
            line-height: 40px;
        }

        .shelf-item {
            position: relative;
            box-sizing: border-box;
            padding: 5%;

            transition: background-color 0.2s, opacity 0.2s;

            &::before {
                content: '';
                width: 90%;
                height: 2px;
                background-color: rgba(0, 0, 0, 0.2);
                position: absolute;
                top: 0;
                left: 5%;
            }
            
            &--mouseover {
                background: #0c0b10;

                .shelf-item__details {
                    .title, .desc {
                        text-decoration: line-through;
                        opacity: 0.6;
                    }
                }

                .shelf-item__price {
                    text-decoration: line-through;
                    opacity: 0.6;
                }
            }

            &__del {
                width: 16px;
                height: 16px;
                top: 15px;
                right: 5%;
                border-radius: 50%;
                position: absolute;
                background-size: auto 100%;
                background-image: url('./../static/sprite_delete-icon.png');
                background-repeat: no-repeat;
                z-index: 2;
                cursor: pointer;


                &:hover {
                    background-position-x: -17px;
                }
            }

            &__thumb, &__details, &__price {
                display: inline-block;
                vertical-align: middle;
            }

            &__thumb {
                vertical-align: middle;
                width: 15%;
                 margin-right: 3%;

                img {
                    width: 100%;
                    height: auto;
                }
            }
            &__details {
                width: 57%;

                .title {
                    color: #ececec;
                    margin: 0;
                }

                .desc {
                    color: #5b5a5e;
                    margin: 0;
                }
            }
            &__price {
                color: $yellow;
                text-align: right;
                width: 25%;
            }
        }
    }

    &__footer {
        box-sizing: border-box;
        padding: 5%;
        box-shadow: 0px -0.5em 1em rgba(0, 0, 0, 0.3);

        .sub, .sub-price {
            color: #5b5a5e;
            vertical-align: middle;
            display: inline-block;
        }

        .sub {
            width: 20%;
        }

        .sub-price {
            width: 80%;
            text-align: right;

            &__val, &__installment {
                margin: 0;
            }

            &__val {
                color: $yellow;
                font-size: 22px;
            }
        }

        .buy-btn {
            color: #ececec;
            text-transform: uppercase;
            background-color: #0c0b10;
            text-align: center;
            padding: 15px 0;
            margin-top: 40px;
            cursor: pointer;

            transition: background-color 0.2s;

            &:hover {
                background-color: #000;
            }
        }
    }
}

@media only screen and (max-width : 1024px) {
    .filters {
        width: 20%;
    }

    .shelf-container {
        width: 80%;

        .shelf-item {
            width: 33.33%;

            &__title {
            }
        }
    }

}

@media only screen and (max-width : 640px) {
    .filters {
        width: 25%;
    }

    .shelf-container {
        width: 75%;

        .shelf-item {
            width: 50%;
            padding: 10px;

            &__title {
                margin-top: 5px;
                padding: 0;
            }
        }
    }

    .float-cart {
        width: 100%;
        right: -100%;

        &--open {
            right: 0;
        }

        &__close-btn {
            left: 0px;
            z-index: 2;
            background-color: $black-light;
        }

        &__header {
            padding: 25px 0;
        }

        
    }
}

@media only screen and (max-width : 460px) {
    main {
        padding: 2%;
        margin-top: 75px;
    }

    .filters {
        width: 100%;
        text-align: center;
        
        .title {
            margin-bottom: 15px;
        }
    }

    .shelf-container-header {
        .products-found {
            width: 100%;
            text-align: center;
            margin: 10px 0;
        }

        .sort {
            width: 100%;
            text-align: center;
        }
    }


    .shelf-container {
        width: 100%;

        .shelf-item {
            width: 100%;
        }
    }
}

// Spinner 
.lds-ring {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -32px;
  margin-top: -32px;
  width: 64px;
  height: 64px;
  z-index: 10;
  border-radius: 5px;
  background-color: #000;

  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
    &:nth-child(1) {
      animation-delay: -0.45s;
    }
    &:nth-child(2) {
      animation-delay: -0.3s;
    }
    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}