@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
}

.shelfContainer {
    padding: 0 2%;
    max-width: 1200px;
    margin: 0 auto;

    .item {
        float: left;
        width: 25%;
        text-align: center;
        box-sizing: border-box;
        padding: 25px;
        margin-bottom: 30px;
        border: 1px solid transparent;

        &:hover {
            border: 1px solid #eee;
            
            .item__buy-btn {
                background-color: #eabf00;
            }
        }

        &__title {
            position: relative;
            padding: 0 20px;
            height: 45px;

            &::before {
                content: '';
                width: 20px;
                height: 2px;
                background-color: #eabf00;
                position: absolute;
                bottom: 0;
                left: 50%;
                margin-left: -10px;
            }
        }

        &__price {
            height: 60px;

            .val {
                b {
                    font-size: 1.5em;
                    margin-left: 5px;
                }
            }

            .installment {
                color: #9c9b9b;
            }
        }

        &__buy-btn {
            background-color: #1b1a20;
            color: #fff;
            padding: 15px 0;
            margin-top: 10px;
            cursor: pointer;
            // border-bottom: 2px solid #151419;

            transition: background-color 0.2s;
        }
    }
}